textarea:focus,
input:focus {
    outline: none;
}

#contact-content {
    padding-top: 4em;
}

#main-wrapper section article p a {
    color: #8bffe2;
    text-decoration: none;
}

#contact-form {
    margin-top: 1.3em;
    animation: fadeIn 1.75s;
}

#contact-form label,
#contact-form input,
#contact-form textarea {
    display: block;
}

#contact-form label {
    margin-bottom: 0.2em;
    font-size: 0.9em;
}

#contact-form input {
    margin-bottom: 0.7em;
    font-size: 0.85em;
    color: white;
    padding: 13px 8px;
    font-family: 'Roboto', sans-serif;
    min-width: 42%;
    background-color: rgba(27, 27, 27, .91);
    border: rgba(27, 27, 27, .91) solid 0.4px;
    border-radius: 10px;
}

#contact-form input::placeholder {
    color: rgb(200, 200, 200);
}

.invalid:invalid,
.invalid:invalid {
    box-shadow: 0 0 5px 1px red;
}

#contact-form textarea {
    margin-bottom: 0.7em;
    font-size: 0.9em;
    padding: 13px 8px;
    font-family: 'Roboto', sans-serif;
    color: white;
    min-width: 42%;
    min-height: 6em;
    resize: both;
    max-width: 50%;
    max-height: 12em;
    background-color: rgba(27, 27, 27, .91);
    border: rgba(27, 27, 27, .91) solid 0.4px;
    border-radius: 10px;
}

#contact-form textarea::placeholder {
    color: rgb(200, 200, 200);
}


#contact-title {
    animation: fadeIn 1.5s;
}

#contact-p {
    animation: fadeIn 1.7s;
}

@media screen and (max-width: 990px) {
    #contact-form {
        margin-bottom: 6em;
    }

    #contact-form input,
    #contact-form textarea {
        min-width: 85%;
        font-size: 1em;
    }

    #contact-form label {
        display: none;
    }

    #contact-p {
        width: 85%;
    }

}


.btn-two {
    background-color: rgba(27, 27, 27, .91);
    font-size: 1.3em;
    color: #8bffe2;
    text-align: center;
    border: rgba(27, 27, 27, .91) solid 0.4px;
    border-radius: 10px;
    margin-top: 0.4em;
    padding: 0.7em 0.85em;
    cursor: pointer;
}

.btn-two::after {
    border-radius: 10px;
}