#work-content {
    padding-top: 5em;
    display: flex;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    animation: fadeIn 1.5s;
    justify-content: center;
    align-items: center;
}

.project-item {
    box-sizing: border-box;
    flex: 1 1 0px;
    min-width: 26em;
    min-height: 26em;
    margin: 0.4em;
    border: rgba(255, 255, 255, 0.185) solid 1px;
    background-color: rgba(27, 27, 27, 0.479);
    position: relative;
}

.project-item>img,
.project-item>video {
    position: absolute;
    width: 100%;
    max-height: 100%;
    padding: 0.5em;
    vertical-align: middle;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    margin: auto;
}

.project-info:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.project-info {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.801);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.project-info p {
    width: 100%;
    padding: 1em 0;
}

.tecnologies {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tecnologies span {
    flex: 20%;
    padding: 0.4em;
}

.tecnologies img,
.tecnologies video {
    max-width: 3em;
    max-height: 3em;
}

.small {
    width: 100px;
    height: 40px;
    font-size: 1em !important;
}

@media screen and (max-width: 951px) {
    .project-item {
        max-width: 80%;
    }
}

@media screen and (min-width: 1430px) {
    .project-item {
        max-width: 30%;
    }
}